body {
  margin: 0;
  padding: 0 1vw;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: space-between;
  background-image: radial-gradient(circle, #f4a92d, #f7b32d, #fabd2d, #fcc72d, #fdd12f);
}

header {
  background-color: #fcd748;
  height: 12vh;
}

.Leaderboard {
  padding-left: 3vw;
  color: #fefefc;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10vw;
  gap: 5vw;
}

.left,
.right {
  padding: 0 3vw;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2vh;
  padding-bottom: 3vh;
}

.recent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.refresh {
  height: 4vh;
}

.refresh,
.submit {
  background-color: #fabf40;
  color: #fffde8;
  border-color: #f8f8f8;
}

.table {
  border: 1px solid #fabf40;
}

.table div:nth-child(even) {
  background-color: #fef07e;
  color: #746e39;
}

.table div:nth-child(odd) {
  background-color: #fcf6d6;
  color: #767469;
}

.list {
  padding-left: 1vw;
}

.right-inputs {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.recent h2,
.right-h2 h2 {
  color: #fabf40;
}

/* #yourName {
  border-color: #;
} */

.submit {
  width: 70px;
  align-self: flex-end;
}

.copyright {
  background-color: #fcd748;
  padding: 2vh 0;
  font-weight: 700;
}

.copyright-text {
  padding-left: 3vw;
  color: #fefefc;
}

@media screen and (min-width: 650px) {
  .left,
  .right {
    width: 50%;
    gap: 2vh;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .right {
    height: 30vh;
  }

  .refresh,
  .submit {
    height: 6vh;
  }
}
